.ok {
  color: rgb(58, 228, 58);
}
.not-ok {
  color: red;
}
/* .image {
            background-image: url(pics/laboursss.png);
            height: 100vh;
            width: 100vw; 
            background-size: cover;
            background-repeat: no-repeat;
        }  */
